/* === ПІДКЛЮЧЕННЯ ЛОКАЛЬНИХ ШРИФТІВ === */

/* jura-regular - cyrillic_latin */
@font-face {
  font-weight: 400;
  font-style: normal;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  src: url("../fonts/jura-v34-cyrillic_latin-regular.woff2") format("woff2");

  font-display: swap;

  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* jura-700 - cyrillic_latin */
@font-face {
  font-weight: 700;
  font-style: normal;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Jura";
  src: url("../fonts/jura-v34-cyrillic_latin-700.woff2") format("woff2");

  font-display: swap;

  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-regular - cyrillic_latin */
@font-face {
  font-weight: 400;
  font-style: normal;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Exo 2";
  src: url("../fonts/exo-2-v26-cyrillic_latin-regular.woff2") format("woff2");

  font-display: swap;

  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* exo-2-700 - cyrillic_latin */
@font-face {
  font-weight: 700;
  font-style: normal;

  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Exo 2";
  src: url("../fonts/exo-2-v26-cyrillic_latin-700.woff2") format("woff2");

  font-display: swap;

  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}